

.title{
	text-align:center;
}

.main-title{
	font-weight: 800;
	color:#696969;
	font-size: 1.2em;
}


.initials{
	background:#fff;
	padding:10px;
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(15rem, 1fr));
	grid-gap:8px;
	justify-items:center;
}

.input-class{
	text-align:center;
}

.to-class{

	width:100%;
	margin-top:8px;
	line-height:1.5rem;
}

.table-container{
	background:#fff;
	padding:8px;
	overflow-x:auto;
}

/*table{
	width:100%;
}*/



table, th, td{
	border:1px solid #000;
	border-collapse:collapse;
}
th{
	padding-left:5rem;
	padding-right:5rem;
}

.entries{
	background:#fff;
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(15rem, 1fr));
	grid-gap:8px;
    align:middle;
    justify-items:center;
}

.entries input[type=text]{

	width:90%;
	line-height:1.3rem;
	margin:2px;
	text-align:center;

}
.enter{
	background:#0099ff;
	color:#fff;
	border:0;
	line-height:2rem;
	width:100%;
}
.save{
	background:#0099ff;
	color:#fff;
	border:0;
	line-height:2rem;
	width:100%;
}

.table-container .remove_btn{
	
	background:#0099ff;
	color:#fff;
	border:0;
}

.invoice_label{
    text-align:center;
    display: inline-block;
}

@media screen and (min-width:800px){
	
    .entries{
		display:grid;
		grid-template-columns:1fr 1fr 1fr;
		grid-gap:8px;	
		padding:8px;

	}
	
	.enter{
		line-height:0;
	}

}
