{% load static %}
{% extends '{% static authentication/css/base/base.css %}' %}

{% block addcss %}
.company-details{
	width:99%;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5px;
	padding-right:5px;
	background:#fff;
	margin-top:3px;
}

.company-details details summary{
	color:#696969;
	font-weight:700;
	font-size:1.2em;
}

.company-details-list{
	width:100%;
	background:#fff;
	display:grid;
	grid-template-columns:1fr 1fr;
}

.company-details-val{
	color:#696969;
}

.company-details-heading{
	font-weight:600;
}

.bill-msg{
	width:99%;
	padding:1px 5px 1px 5px;
	background:#CCCC00;
	color:#fff;
	font-size:1.2em;
	margin-top:10px;
}

.download-link-div{
	margin-top:8px;
}
.download-link{

	color:#0099ff;
}

{% endblock addcss %}