*{

	margin:0px;
}
body{
	background:#0099ff;

}

.container{
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(15rem, 1fr));
	background:#0099ff;
	padding:20px;
	grid-gap:1px;
}

.login{
	background:#fff;
	border-radius:20px;
	text-align:center;
	padding-bottom:10px;
}

.login h2{

	color:#0099ff;
}

.login p{
	color:#0099ff;

}

.login svg{
	display:block;
}

.text{
	background:#eee;
	border:0px;
	width:270px;
	line-height:2em;
	padding-left:8px;
	border-radius:10px;
	margin-bottom:10px;
}

.password{
	background:#eee;
	border:0px;
	width:270px;
	line-height:2em;
	padding-left:8px;
	border-radius:10px;
	margin-bottom:10px;
}

.button{
	background:#0099ff;
	width:120px;
	color:#fff;
	line-height:2.5rem;
	margin-top:10px;
	border-radius:5px;
	border-width:0px;
	margin-bottom:10px;
}
.display{

	background:#0099ff;
	color:#fff;
	position:relative;
	padding:8px;
	text-align:center;
	font-family:Arial, Verdana, sans-serif;
}

.business-svg{

	width:100%;
	height:100%;
	position:relative;
}


@keyframes animate{
	from{
		transform:translateY(0px);
	}

	to{
		transform:translateY(-100px);
	}
}
.business-svg #board{
	animation-name:animate;
	animation-duration:2s;
	position:relative;
	animation-iteration-count:infinite;
	animation-direction:alternate;
}

.below-login{
	
	background:#fff;
	border-radius:10px;
	text-align:center;
	margin-top:10px;
	padding:10px;
	color:#696969;

}

a{

	color:#696969;
}

p .error-class{
    color:red;
}



