
.white-background{
    background:#fff;
}
.expression-top_label{
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(20rem, 1fr));
	justify-items:center;
	padding:8px;
}

.expression-input-class{
	width:100%;
}

input{
	width:100%;
	line-height:2.2em;
	border-radius:5px;
	background:#eee;
}

.expression-explain h3{
	text-align:center;
	font-size:1.2em;
}

.expression-explain img{
	display:block;
	margin: 0 auto;
}

.expression-save-btn{
	background:#0099ff;
	color:#fff;
	border-color:#0099ff;
	width:200px;
	line-height:2em;
	display:block;
	margin:0 auto;
}

.expression-save-btn:hover{
	background:#fff;
	color:#0099ff;

}

@media screen and (min-width:800px){
	.expression-top_label{
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	justify-items:center;
	padding:8px;
	}

}

