
.main{
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	grid-gap:8px;
}

.main label{
	text-align:right;
	font-size:1.2em;
}

.main input[type=radio]{
	margin-left:15px;
	padding:2px;
	margin-top:5px;
}

.btn-class{
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(20rem, 1fr));
	grid-gap:5px;
}

.button-submit{
	background:#0099ff;
	color:#fff;
	padding:8px;
	border-color:#0099ff;
}

.button-submit:hover{
	background:#fff;
	color:#0099ff;
}

.button-afterwards{
	background:#fff;
	color:#0099ff;
	padding:8px;
	border-color:#0099ff;
}

.button-afterwards:hover{
	background:#0099ff;
	color:#fff;
}

.btn{
	text-align:center;
	margin-top:10px;
}

.msg{
	text-align:center;
}

